#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem;
  text-align: center; */
}

/* Add these styles to your existing CSS */
table {
  width: 100%; /* Adjust the width as needed */
  border-collapse: collapse; /* For a cleaner look */
}

th, td {
  text-align: center; /* Center align the text for th and td */
  padding: 8px; /* Add some padding to make it look better */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.App > header, .App > footer {
  /* Assuming that <Header /> and <Footer /> map to <header> and <footer> HTML elements */
  flex-shrink: 0; /* Prevent these from shrinking */
}

.App > .content {
  flex-grow: 1; /* Allow program list to fill remaining space */
  /* Additional styles for your content area */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
